#R files to ignore
.numbers
.Rhistory
.Rproj.user
*.Rproj
data/triangle*
data/grids/tri*
kde_baselines/
#knitr cache -- ignore
*_cache
*_files
#shiny-associated files -- ignore
rsconnect/
#.shp files take too much space...
*.cpg
*.dbf
*.prj
*.qpj
*.shp
*.shx
#!crimes_*
#too many
pei_pai_scripts/*.pdf
#should tempfile these?
output*
delete_me
3MO/
test_submission/