#R files to ignore
.Rhistory
.Rproj.user
*.Rproj
#knitr cache -- ignore
*_cache
*_files
#shiny-associated files -- ignore
rsconnect/
#.shp files take too much space...
data/
*.cpg
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.csv
!crimes_*
#too many
pei_pai_scripts/*.pdf
#should tempfile these?
output*
delete_me

scores/*.pdf
